<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Black Jack</title>

	<link rel="stylesheet" href="css/style.css">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="../../assets/js/html5shiv.js"></script>
			<script src="../../assets/js/respond.min.js"></script>
			<![endif]-->

</head>
<body>

	<div>
		<div id="app">


			<!-- <span class="card">
				<span class="lable">K</span><span class="some">&#9824;</span>
			</span>
			<span class="card">
				<span class="lable">7</span><span class="some">&#9829;</span>
			</span> -->



			<div class="history-block">
				<p>History</p>
				<!-- <div v-for="stroke in playerHand"> {{ stroke.lable + ' ' + stroke.suit }} </div>
				<input v-model="chosenNum">
					<div v-show="chosenNum">{{ getCardValue }}</div>
				</input> -->
			</div>



			<div class="playing-field">
				<div class="dealer-area">
					<div v-show="setDealerPoints" class="dealer-points"><span class="points">{{setDealerPoints}}</span></div>
					<div id="dealer-cards">
						<div class="playing-card" v-bind:style="changeCardsMargin(dealer)" v-bind:class="[card.name, card.suit]" v-for="card in dealer.hand"></div>
					</div>
				</div>
				
				
				
				<div class="control-panel">
					<template v-if="betMade">
						<button v-on:click="takeCard" class="btn" v-bind:disabled="cantTakeMore">More</button>
						<button v-on:click="startDealerPlay" class="btn" v-bind:disabled="cantTakeMore">Enough</button>
					</template>
					

					<template v-else>
						<input type="range" min="1" :max="player.cash" v-model="player.bet" id="rangePicker" 
						step="1">
						<input v-model.number="player.bet" type="number" name="money" min="1" :max="player.cash" step="1" value="10">
						<button v-on:click="giveOutCards()" class="btn" >Bet</button>
					</template>
					
					<div class="player-cash">{{ player.cash + '$'}}</div>
					<!-- <button v-on:click="addCardTo(dealer)" class="btn" >Add Card To Dealer</button> -->
				</div>
				
				
				
				<div class="player-area">
					<div v-show="setPlayerPoints" class="player-points"><span class="points">{{player.points}}</span></div>
					<div id="player-cards">
						<div class="playing-card" v-bind:style="changeCardsMargin(player)" v-bind:class="[card.name, card.suit]" v-for="card in player.hand"></div>
						<!-- <playing-card v-bind:class="[card.name, card.suit]" v-for="card in playerHand" :card="card"></playing-card> -->
					</div>
				</div>
			</div>


			<div class="hidden clubs ace"></div>
			<div class="hidden spades ace"></div>
			<div class="hidden hearts ace"></div>
			<div class="hidden diamonds ace"></div>
		</div>
	</div>
	



	<script src="https://unpkg.com/vue@2.2.2"></script>
	<script src="js/app.js"></script>
</body>
</html>